@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body * {
    font-size: 16px;
  }
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
}

.btn {
  @apply rounded-full;
}

/* -------- NAVBAR -------- */
.navbar>div {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
}

.navbar .dropdown {

  width: 15px;
  min-height: 15px;
  max-width: 15px;
}

.dropdown ul.menu {
  position: absolute;
  width: 125px;
}

/*-------- NAVBAR-CENTER -------- */

.navbar .navbar-center .menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.navbar-center .menu li {
  margin: 0 5px;
}

.navbar-center details[open] {
  position: relative;
}

.navbar-center details[open] ul {
  position: absolute;
  width: 110px;
}

.menu-horizontal>li:not(.menu-title)>details>ul {
  margin-top: 0;
}
.navbar .menu>li {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.navbar-center .menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

/* -------- NAVBAR-END -------- */
.navbar-end {
  position: relative;
}


.navbar-end .registration {
  position: absolute;
  bottom: -24px;
  color: rgb(51 65 85 / var(--tw-text-opacity, 1));
  margin: 0 20%;
  float: right;
}
.link-neutral {
  font-size: 0.75rem;
}

.navbar-end .registration .link-neutral:hover {
  color:
    color-mix(in oklab, var(--fallback-n, oklch(var(--n) / 1)) 80%, #2196F3);
}
.navbar-end .btnend,
.navbar-end .btnend a {
  width: 78.56px;
}
.navbar-end .remove {
  display: none
}

@media screen and (min-width: 8px) {
  .navbar .dropdown {
    display: inline-block;
  }
/* -------- REGISTRATION -------- */
section.registration,
.h1 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  justify-content: center;
  max-width: 735px;
  margin: 0 auto;
}
}

@media screen and (min-width: 640px) {
  .navbar .dropdown {
    display: none;
  }
}
