@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
}

.btn {
  @apply rounded-full;
}

.navbar>div {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
}

.navbar .dropdown {

  width: 15px;
  min-height: 15px;
  max-width: 15px;
}

.dropdown ul.menu {
  position: absolute;
  width: 125px;
}

/* .dropdown:hover ul.menu {
  display: inline-block;
} */

.navbar .navbar-center .menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.navbar-center .menu li {
  margin: 0 5px;
}

.navbar-center details[open] {
  position: relative;
}

.navbar-center details[open] ul {
  position: absolute;
  width: 110px;
}

.menu-horizontal>li:not(.menu-title)>details>ul {
  margin-top: 0;
}
.navbar .menu>li {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.navbar-center .menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

@media screen and (min-width: 8px) {
  .navbar .dropdown {
    display: inline-block;
  }
}

@media screen and (min-width: 800px) {
  .navbar .dropdown {
    display: none;
  }
}
